body{
    background: beige;
}
a {
    color: navy;
    text-decoration: none;
}
a:hover {
    color: red;
    
}
h1, h2 {
    text-align: center;
    font-family: sans-serif;
}
img{
    display: flex;
    margin-left:auto;
    margin-right: auto;
    width: 50%;
}
